<a [routerLink]="['/']">
    <h1>Johnny's Sneakers</h1>
</a>

<a
    [ngClass]="{'button': true, 'fancy-button': true, 'items-in-cart' : items.length > 0}"
    [ngStyle]="{display: 'flex', justifyContent: 'space-between'}"
    routerLink="/cart"
>
    <i class="material-icons">shopping_cart</i>
    <div
        [ngStyle]="{marginRight: '5px'}"
        [ngClass]="{'items-in-cart' : items.length > 0}"
    >
        Checkout
    </div>
    <div
        *ngIf="items.length > 0"
        [ngClass]="{'items-in-cart' : items.length > 0}"
    >
        - {{items.length}} items
    </div>
</a>
